Repository Roy-Niederberg/brande: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router, prompt_composer, admin, facebook_connect, facebook_dispatcher

.gitlab-ci.yml:

stages:
  - trigger

router:
  stage: trigger
  trigger:
    include: services/router/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/router/**/*
      when: always
    - when: never

prompt_composer:
  stage: trigger
  trigger:
    include: services/prompt_composer/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/prompt_composer/**/*
      when: always
    - when: never

admin:
  stage: trigger
  trigger:
    include: services/admin/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/admin/**/*
      when: always
    - when: never

facebook_connect:
  stage: trigger
  trigger:
    include: services/facebook_connect/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/facebook_connect/**/*
      when: always
    - when: never

facebook_dispatcher:
  stage: trigger
  trigger:
    include: services/facebook_dispatcher/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - services/facebook_dispatcher/**/*
      when: always
    - when: never

small change in facebook_dispatcher for the ci to run
  services/facebook_dispatcher/src/server.js
Due: facebook_dispatcher

move the webhook verify route from facebook_connect to facebook_dispatcher
  services/facebook_connect/src/server.js
Due: facebook_connect

caddy to route webhook trafic to facebook_dispather
  services/router/src/Caddyfile
Due: router

comment out by misstake
  services/facebook_dispatcher/Dockerfile
Due: facebook_dispatcher

remove secret not in use
  services/facebook_connect/src/server.js
Due: facebook_connect

debugging secrets issues, previous version not working, new try
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
  services/facebook_dispatcher/test/docker-compose.yml
Due: facebook_connect, facebook_dispatcher

debugging secrets issues, previous version not working, new try
  services/facebook_connect/src/server.js
Due: facebook_connect

debugging, previous version not working, new try
  services/router/src/Caddyfile
Due: router

debugging, previous version not working, new try
  services/facebook_dispatcher/src/server.js
Due: facebook_dispatcher

debugging, previous version not working, new try
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/orielbaz/docker-compose.yml
  prod_setup/router/docker-compose.yml
  services/facebook_dispatcher/src/server.js
Due: facebook_dispatcher

debugging, previous version not working, new try
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
  services/facebook_dispatcher/src/server.js
  services/facebook_dispatcher/test/docker-compose.yml
Due: facebook_connect, facebook_dispatcher

Add naive inplementation of facebook comment tree fetch
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/router/docker-compose.yml
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
Due: facebook_connect

just the parend id
  services/facebook_connect/src/server.js
Due: facebook_connect

wip - facebook connect handling facebood webhook
  services/facebook_connect/src/server.js
Due: facebook_connect

add environment vars in production
  prod_setup/craftkidstoys/docker-compose.yml
Due: none

Remove the default from the llm url, so it will not access reall llm by mistake
  services/prompt_composer/src/server.js
Due: prompt_composer

RC1- without: Not replay to it self; Caching the comment thread; root post; split webhook payload per page in facebook dispatcher
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
  services/prompt_composer/src/server.js
  services/prompt_composer/test/mock_shared_data/.gitignore
  services/prompt_composer/test/mock_shared_data/instructions.txt
  services/prompt_composer/test/mock_shared_data/response_guidelines.txt
Due: prompt_composer, facebook_connect

Stop replaying to it self
  prod_setup/craftkidstoys/docker-compose.yml
  services/admin/src/server.js
  services/facebook_connect/src/server.js
Due: admin, facebook_connect

Switching from Ori Elbaz to Lipo Katz
  prod_setup/drlipokatz/docker-compose.yml
  prod_setup/orielbaz/docker-compose.yml
  prod_setup/router/docker-compose.yml
  services/router/src/Caddyfile
Due: router

Add error numbering
  services/facebook_connect/src/server.js
Due: facebook_connect

debug prod
  services/facebook_connect/src/server.js
Due: facebook_connect

debug prod
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
Due: facebook_connect
