Repository Roy-Niederberg/brande: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router, prompt_composer, admin, facebook_connect, facebook_dispatcher

router:
  stage: trigger
  trigger:
    include: services/router/.gitlab-ci.yml
    strategy: depend

prompt_composer:
  stage: trigger
  trigger:
    include: services/prompt_composer/.gitlab-ci.yml
    strategy: depend

admin:
  stage: trigger
  trigger:
    include: services/admin/.gitlab-ci.yml
    strategy: depend

facebook_connect:
  stage: trigger
  trigger:
    include: services/facebook_connect/.gitlab-ci.yml
    strategy: depend

facebook_dispatcher:
  stage: trigger
  trigger:
    include: services/facebook_dispatcher/.gitlab-ci.yml
    strategy: depend

debug prod
  services/facebook_connect/src/server.js
Due: facebook_connect

wip
  services/facebook_connect/src/server.js
Due: facebook_connect

debug prod
  prod_setup/craftkidstoys/docker-compose.yml
  services/facebook_connect/src/package.json
  services/facebook_connect/src/server.js
Due: facebook_connect

Test the new facebook-connect in production (with up-down comment tree fetching)
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/drlipokatz/docker-compose.yml
  services/admin/test/mock_shared_data/.gitignore
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
Due: admin, facebook_connect

Add authorized emails for the localhost testing for admin ui
  services/admin/test/mock_shared_data/.gitignore
  services/admin/test/mock_shared_data/authorized_emails.json
Due: admin

Add rout POST /ask in prompt-composer
  services/prompt_composer/Dockerfile
  services/prompt_composer/src/package.json
  services/prompt_composer/src/server.js
  services/prompt_composer/test/.gitignore
  services/prompt_composer/test/docker-compose.yml
  services/prompt_composer/test/mock_shared_data/.gitignore
  services/prompt_composer/test/mock_shared_data/admin_query_builder.js
  services/prompt_composer/test/mock_shared_data/facebook_query_builder.js
  services/prompt_composer/test/mock_shared_data/instructions.txt
Due: prompt_composer

change facebook connect to use POST /ask so prompt-composer will use the facebook_query_builder
  services/facebook_connect/src/server.js
  services/facebook_connect/test/.gitignore
  services/facebook_connect/test/test.mjs
Due: facebook_connect

add Facebook Private Replies
  services/facebook_connect/src/server.js
  services/facebook_connect/test/docker-compose.yml
  services/facebook_connect/test/test.mjs
  services/prompt_composer/test/.gitignore
  services/prompt_composer/test/test.mjs
Due: prompt_composer, facebook_connect

debug prod
  services/facebook_connect/src/server.js
  services/facebook_connect/test/test.mjs
Due: facebook_connect

Before adding the facebook_dm
  services/facebook_connect/src/server.js
Due: facebook_connect

Add facebook-dm + adjust dispatcher and connect to support it
  services/facebook_connect/src/server.js
  services/facebook_connect/test/test.mjs
  services/facebook_dispatcher/src/server.js
  services/facebook_dm/Dockerfile
  services/facebook_dm/src/.gitignore
  services/facebook_dm/src/package-lock.json
  services/facebook_dm/src/package.json
  services/facebook_dm/src/server.js
  services/facebook_dm/test/.gitignore
  services/facebook_dm/test/docker-compose.yml
  services/facebook_dm/test/test.mjs
Due: facebook_connect, facebook_dispatcher

add facebook-dm to ci
  .gitlab-ci.yml
  services/facebook_dm/.gitlab-ci.yml
Due: none

debug prod
  services/facebook_dm/src/server.js
  services/prompt_composer/src/server.js
  services/prompt_composer/test/mock_shared_data/admin_query_builder.js
  services/prompt_composer/test/mock_shared_data/fb_comments_query_builder.js
  services/prompt_composer/test/mock_shared_data/fb_messages_query_builder.js
Due: prompt_composer

debug prod
  services/admin/src/server.js
Due: admin

remove un-needed console.log
  services/facebook_dm/src/server.js
Due: none

Add print for the initial message revieved from the webhook on DM
  services/facebook_dm/src/server.js
Due: none

Remove the private respond on a comment
  prod_setup/drlipokatz/docker-compose.yml
  services/facebook_comments/src/server.js
Due: none

Add privacy.html
  services/router/public/privacy.html
Due: router

add brandelicious.mooo.com
  services/router/src/Caddyfile
Due: router

Add site for each customer, currently just register the Facebook paget to Brande
  .gitlab-ci.yml
  services/router/src/Caddyfile
  services/site/.gitlab-ci.yml
  services/site/Dockerfile
  services/site/src/.gitignore
  services/site/src/package-lock.json
  services/site/src/package.json
  services/site/src/public/index.html
  services/site/src/server.js
  services/site/test/docker-compose.yml
Due: router

Caddy to serve the home page from public
  services/router/.gitignore
  services/router/public/craftkidstoys/index.html
  services/router/src/Caddyfile
  services/site/src/public/index.html
Due: router

Work on the home html page
  services/router/.gitignore
  services/router/public/background.svg
  services/router/public/craftkidstoys/index.html
Due: router

moved the prompt_log to volume
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/drlipokatz/docker-compose.yml
  services/prompt_composer/src/server.js
  services/router/public/craftkidstoys/index.html
  services/router/test/docker-compose.yml
Due: router, prompt_composer

test changes in th gitlab ci- add version tag to docker images tag
  services/admin/.gitlab-ci.yml
Due: admin

CI to build docker images only on new tags
  services/site/.gitlab-ci.yml
Due: none

Path conditions:
  router: any of: services/router/**/*
  prompt_composer: any of: services/prompt_composer/**/*
  admin: any of: services/admin/**/*
  facebook_connect: any of: services/facebook_connect/**/*
  facebook_dispatcher: any of: services/facebook_dispatcher/**/*
