Repository Roy-Niederberg/brande: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router, prompt_composer, admin, facebook_comments, facebook_dispatcher, facebook_dm, site

.gitlab-ci.yml:

stages:
  - trigger

router:
  stage: trigger
  trigger:
    include: services/router/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/router/**/*
      when: always
    - when: never

prompt_composer:
  stage: trigger
  trigger:
    include: services/prompt_composer/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/prompt_composer/**/*
      when: always
    - when: never

admin:
  stage: trigger
  trigger:
    include: services/admin/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/admin/**/*
      when: always
    - when: never

facebook_comments:
  stage: trigger
  trigger:
    include: services/facebook_comments/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/facebook_comments/**/*
      when: always
    - when: never

facebook_dispatcher:
  stage: trigger
  trigger:
    include: services/facebook_dispatcher/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/facebook_dispatcher/**/*
      when: always
    - when: never

facebook_dm:
  stage: trigger
  trigger:
    include: services/facebook_dm/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/facebook_dm/**/*
      when: always
    - when: never

site:
  stage: trigger
  trigger:
    include: services/site/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
      changes:
        - services/site/**/*
      when: always
    - when: never

CI to build docker images only on new tags
  .gitlab-ci.yml
Due: none

UPDATE CI trigger design. Only one root file now
  .gitlab-ci.yml
  services/admin/.gitlab-ci.yml
  services/facebook_comments/.gitlab-ci.yml
  services/facebook_dispatcher/.gitlab-ci.yml
  services/facebook_dm/.gitlab-ci.yml
  services/prompt_composer/.gitlab-ci.yml
  services/router/.gitlab-ci.yml
  services/site/.gitlab-ci.yml
Due: router, prompt_composer, admin, facebook_comments, facebook_dispatcher, facebook_dm, site

Remove the craetion of prompt_log directory
  services/prompt_composer/src/server.js
Due: prompt_composer

Change the name site to facebook_signup
  .gitlab-ci.yml
  services/facebook_signup/Dockerfile
  services/facebook_signup/src/.gitignore
  services/facebook_signup/src/package-lock.json
  services/facebook_signup/src/package.json
  services/facebook_signup/src/public/index.html
  services/facebook_signup/src/server.js
  services/facebook_signup/test/docker-compose.yml
  services/router/src/Caddyfile
Due: router

Add Claude stuff so I can work using claude code web interface
  .claude/design-guideleines/CLAUDE_CODE_QUICKSTART.md
  .claude/design-guideleines/PACKAGE_CONTENTS.md
  .claude/design-guideleines/QUICK_REFERENCE.md
  .claude/design-guideleines/README.md
  .claude/design-guideleines/UI_GUIDELINES.md
  .claude/design-guideleines/before-after-comparison.md
  .claude/design-guideleines/demo-landing-page.jsx
  .claude/design-guideleines/setup-ui-guidelines.sh
  .claude/design-guideleines/ui-design.skill
  .claude/design-guideleines/usage-guide.md
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
Due: none

improve UI of the customer home site
  services/admin/src/views/index.html
  services/admin/src/views/script.js
  services/admin/src/views/style.css
  services/router/.gitignore
  services/router/public/drlipokatz/index.html
Due: router, admin

Add the new client home site to drlipokatz
  services/router/src/Caddyfile
Due: router

update
  services/router/public/drlipokatz/index.html
Due: router

update
  services/router/src/Caddyfile
Due: router

new CI - now tags include the service name
  .gitlab-ci.yml
Due: none

typo
  services/router/public/drlipokatz/index.html
Due: router

debug the .gitlag-ci.yml
  .gitlab-ci.yml
Due: none

change to test CI
  services/router/public/drlipokatz/index.html
Due: router

update ci - tag regex
  .gitlab-ci.yml
Due: none

add demo for Dr Katz
  services/router/public/drlipokatz/demo.html
Due: router

fix typo in directory name
  .claude/design-guidelines/CLAUDE_CODE_QUICKSTART.md
  .claude/design-guidelines/PACKAGE_CONTENTS.md
  .claude/design-guidelines/QUICK_REFERENCE.md
  .claude/design-guidelines/README.md
  .claude/design-guidelines/UI_GUIDELINES.md
  .claude/design-guidelines/before-after-comparison.md
  .claude/design-guidelines/demo-landing-page.jsx
  .claude/design-guidelines/setup-ui-guidelines.sh
  .claude/design-guidelines/ui-design.skill
  .claude/design-guidelines/usage-guide.md
Due: none

First try for the widget
  services/prompt_composer/src/package-lock.json
  services/prompt_composer/src/package.json
  services/prompt_composer/src/server.js
  services/prompt_composer/test/docker-compose.yml
  services/prompt_composer/test/mock_shared_data/widget_query_builder.js
  services/router/.gitignore
  services/router/public/craftkidstoys/demo/index.html
  services/router/public/craftkidstoys/index.html
  services/router/public/widget.js
  services/router/src/Caddyfile
  services/router/test/widget/docker-compose.yml
Due: router, prompt_composer

add assets for the demo site
  services/router/public/craftkidstoys/demo/.gitignore
  services/router/public/craftkidstoys/demo/1.jpg
  services/router/public/craftkidstoys/demo/2.jpg
  services/router/public/craftkidstoys/demo/3.jpg
  services/router/public/craftkidstoys/demo/4.jpg
  services/router/public/craftkidstoys/demo/5.jpg
  services/router/public/craftkidstoys/demo/bg1.jpg
  services/router/public/craftkidstoys/demo/bg2.jpg
Due: router

Format Caddyfile
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/router/docker-compose.yml
  services/router/src/Caddyfile
Due: router

router to v0.0.3 in prod
  prod_setup/router/docker-compose.yml
Due: none

update ci - tag regex
  services/router/Dockerfile
  services/router/src/Caddyfile
Due: router

debug prod
  prod_setup/drlipokatz/docker-compose.yml
  prod_setup/router/docker-compose.yml
  services/admin/src/server.js
  services/router/public/craftkidstoys/index.html
  services/router/public/drlipokatz/index.html
  services/router/src/Caddyfile
Due: router, admin

update admin version
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/drlipokatz/docker-compose.yml
  prod_setup/router/docker-compose.yml
Due: none

debug prod
  CLAUDE.md
  services/router/src/Caddyfile
Due: router

updte router version to v0.0.6
  prod_setup/router/docker-compose.yml
Due: none

Update admin frontend API calls for /admin/ prefix
  services/admin/src/views/script.js
Due: admin

wip: good point. the widget working by detecting RTL. one smalle issue whith the talk bubble tail so I am commiting here
  .claude/settings.local.json
  prod_setup/craftkidstoys/docker-compose.yml
  prod_setup/drlipokatz/docker-compose.yml
  services/router/public/craftkidstoys/index.html
  services/router/public/drlipokatz/demo.html
  services/router/public/drlipokatz/demo/index.html
  services/router/public/drlipokatz/index.html
  services/router/public/widget.js
  services/router/test/widget/docker-compose.yml
Due: router

wip: good point. the widget working.
  services/router/public/widget.js
Due: router

improve widget UI
  services/router/public/widget.js
  services/router/test/widget/docker-compose.yml
Due: router

update admin version
  prod_setup/router/docker-compose.yml
Due: none

restore the index.html pages. deleted by mistake
  services/router/public/craftkidstoys/index.html
  services/router/public/drlipokatz/index.html
Due: router

update router version 8
  prod_setup/router/docker-compose.yml
Due: none

add image for dr lipo demo site
  services/router/public/drlipokatz/demo/.gitignore
  services/router/public/drlipokatz/demo/eye.png
  services/router/public/drlipokatz/demo/lipo.jpg
  services/router/public/drlipokatz/demo/office.jpg
Due: router

update
  prod_setup/router/docker-compose.yml
Due: none

debug Lipo demo site
  services/router/public/drlipokatz/demo/index.html
Due: router

router v 10
  prod_setup/router/docker-compose.yml
Due: none

widget to start minimized
  services/router/public/widget.js
Due: router

router v 11
  prod_setup/router/docker-compose.yml
Due: none

router v 12
  prod_setup/router/docker-compose.yml
  services/router/public/drlipokatz/index.html
Due: router
